.App {
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: #ffffff;
}
